# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Build and dist files
dist/
dist-ssr/
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime and cache files
*.local
.cache/
.parcel-cache/
.vite/

# IDE and Editor directories
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~
.vim/

# Testing
coverage/
.nyc_output/

# Misc
.turbo/
dist-ssr/
*.pem
thumbs.db

/src/generated/prisma
